body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}


.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 5%;

}

.half-width image {
    width: 50%;

}

#one {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(68, 0, 255), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-session {
    text-align: center;
    margin-top: 50px;
}

.div-img img {
    width: 100%;
}

.background1 {
    background-color: lightgreen;
    border-radius: 10px;
}

.background2 {
    background-color: darkkhaki;
    border-radius: 10px;
}

.background3 {
    background-color: lightblue;
    border-radius: 10px;
}

.all-devisions {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}


.mission {
    width: 250px;
    border: 1p solid grey;
}

/*Third*/
.top {
    background-image: url(images/shapes/exp-bg.png);
    background-repeat: no-repeat;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.half img {
    width: 70%;
    padding: 5%;

}

.test {
    width: 100%;
    padding: 5%;
}

/*Forth*/
.down {
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}